body {
  display: flex;
  justify-content: center;
}

.main_body {
  width: 400px;
}

.results_screen {
  width: auto;
  height: 66px;  
  background-color: black;
  font-family: monospace;
  font-size: 50px;
  text-align: right;
  color: white;  
}

.calkey {
  display: flex; 
  flex-wrap: wrap;
  font-size: 40px;
  font-family: monospace;
  text-align: center;
  width: 24.5%;
  height: 90px; 
  justify-content: space-around;
}

.clear_key {
  width: 51%;
  font-size: 40px; 
}

.row1 {
  display: flex;
  margin-bottom: .5%;
}

.numberrow {
  display: flex;
  width: 100%;
  justify-content: space-evenly; 
}

.row5 {
  display: flex;
  margin-top: .5%; 
}

.zero_key {
  display: flex; 
  width: 75.5%;
  font-size: 40px;
}
